@model MattBaines.Models.HomeModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="advertisingcreative">
    @Html.Partial("~/Views/AdvertisingCreative/_AdvertisingCreative.cshtml", Model.AdvertisingCreative)

    <div id="advertisingcreative_details">
    </div>
</div>

@*<div id="workilike">
    @Html.Partial("~/Views/WorkILike/_WorkILike.cshtml", Model.WorkILike)
</div>

<div id="morefromme">
    @Html.Partial("~/Views/WorkILike/_WorkILike.cshtml", Model.WorkILike)
</div>*@