@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="advertisingcreative">
    <div class="loader">
        <img src="../../Content/images/loader.gif" alt="loading" />
    </div>
</div>
<a href="Index.cshtml">Index.cshtml</a>
<hr class="soften clear" />

<div id="workilike">
    <div class="loader">
        <img src="../../Content/images/loader.gif" alt="loading" />
    </div>
</div>

<div id="morefromme">
    <div class="loader">
        <img src="../../Content/images/loader.gif" alt="loading" />
    </div>
</div>