/* CSS START
----------------------------------------------------------*/
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    width:100%;
}

body 
{
    position:absolute;
    background: url('/Content/images/background.jpg') #DEDCC3;
    background-position: center top;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #696969;
    z-index: 0;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    position: relative;
    z-index: 50;
}
footer, 
#footer 
{
    height: 50px;
    position: relative;
    z-index:9999;
}
#footer-content {
    height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
    text-align: center;
    color: #000;
}
.push {
    height: 50px;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

header,
footer,
nav,
section {
    display: block;
}

strong
{
    font-weight:900 !important;
}

em
{
    font-style:italic !important;
}

/* HEADINGS   
----------------------------------------------------------*/

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

header, #header {
    background: url('/Content/images/ornate_wallpaper.jpg') transparent;
    background-position: center top;
    color: #000;
    padding: 0;
    width: 100%;
    height: 105px;
}

#headercontainer {
    width:100%;
    padding-top: 5px;
}

#headercontainerinner {
    width: 950px;
    margin: 0 auto;
}

#headercontainerinner img {
    float: left;
    margin-left: 20px;
    display: block;
}

#headercontainerinner a {
    float: left;
    display: block;
    text-align: center;
    margin:3px 5px;
}

#headercontainerinner a.icon{
    width: 42px;
    height: 42px;
}

#headercontainerinner a#email{
    background: transparent url('/Content/images/social-icons.png') 391px -73px;
}
#headercontainerinner a#email:hover{
    background: transparent url('/Content/images/social-icons.png') 391px -246px;
}
#headercontainerinner a#twitter{
    background: transparent url('/Content/images/social-icons.png') 270px -13px;
}
#headercontainerinner a#twitter:hover{
    background: transparent url('/Content/images/social-icons.png') 270px -186px;
}
#headercontainerinner a#linkedin{
    background: transparent url('/Content/images/social-icons.png') 210px -73px;
}
#headercontainerinner a#linkedin:hover{
    background: transparent url('/Content/images/social-icons.png') 210px -246px;
}

#main 
{
    width: 995px;
    margin: 0 auto;
    clear: both;
}

footer, 
#footer 
{
    clear: both;
    color: #999;
    line-height: normal;
    margin: 0 0 0 20px;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu 
{
    padding: 0;
    margin: 0 auto;
    width: 950px;
    -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
height: 30px;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a 
{
    padding: 12px 20px 25px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #c7504c;
}

ul#menu li a:hover, ul#menu li.selected a
{
    text-decoration: underline;
}

/* SIDEBAR AND CONTENT
----------------------------------------------------------*/

#main #sidebar
{
    float:left;
    width: 220px;
    padding: 10px;
    min-height: 500px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    z-index:9999; 
}

#main #content
{
    float:left;
    width: 755px;
}

#main #sidebar ul
{
    list-style-type: none;
    margin-left: 5px;
}

#main #sidebar ul li
{
    display: block;
    height: 35px;
    padding: 0 10px 0 10px;
    margin-right: 1px;
    font-weight: bold;
}

#main #sidebar ul li.selected {
    color: #666;
}

#main #sidebar ul li:hover
{
    color: #666;
}

#main #sidebar ul li a
{
    line-height: 35px;
    text-decoration: none;
    display: block;
    color: #666;
    width: 100%;
    height: 100%;
    font-size: 3em;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

ul.ACcategory_list, ul.ACobject_list
{
    list-style:none;
}

ul.ACcategory_list li, ul.ACobject_list li
{
    float: left;
}

ul.ACcategory_list {
    width: 900px;
    margin: 0 auto;
}

ul.ACcategory_list li{
    width: 199px;
    margin: 0 10px;
}

ul.ACcategory_list li a
{
    position: absolute;
    float:left;
    display:block;
    padding: 20px;
    height: 58px;
    width: 159px;
    margin: 0 10px;
    background: transparent url('/Content/images/sticker.png');
    z-index: 9999;
    color: black;
    font-size: 20px;
}

ul.ACcategory_list li a:hover
{
    background: transparent url('/Content/images/sticker-hover.png');
    text-decoration:none;
}

ul.ACcategory_list li div
{
    float:left;
    display:block;
    height: 63px;
    width: 164px;
    margin: 7px;
    padding: 10px;
    margin-left: 18px;
    position:relative;
    z-index: 5;
}

ul.ACobject_list li a
{
    height:200px;
    width:200px;
    display:inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.ACobject_list li a img
{
    opacity:0.4;
    filter:alpha(opacity=40);
}

ul.ACobject_list li a img:hover
{
    opacity:1;
    filter:alpha(opacity=100);
}

ul.tj_gallery {
    list-style: none;
}

/* FORM LAYOUT CUSTOM  
----------------------------------------------------------*/

#divMainWrapper
{
    margin: 1%;
    width: 98%;

}

.divRowWrapper, .divRowWrapperActive
{   
    width: 100%; 
    font-size: 1.1em;
    float: left;
    margin: 0px 0px 20px -10px;        
    border: 1px solid #efefee;
    padding: 10px;
}
.divRowWrapperActive
{
    background: #dfefff;
    border: 1px solid #c2d7ef;
}
.col1, .col2, .col3
{
    width: 30%;  
    margin-right:3%;          
    float: left;
    position: relative;
}
.col1
{
    z-index: 3000;
}

#divMainWrapper
label
{
    display: block;
    font-size: 1.2em;   
    line-height: 1em;
    padding: 0px 0px 7px 0px;
    margin: 0px 0px 0px 0px;        
}
.checkbox-label label
{
    text-align: center;
}

.col1 label span, .col2 label span
{
    color: #a4a4a5;
    font-size: 1.1em;
}
.divRowWrapper input, .divRowWrapperActive input,
.divRowWrapper select, .divRowWrapperActive select
{  
    height: 33px;        
    padding: 0px 0px 0px 2px;
    margin: 0px;
    background: #fff;        
    width: 100%;
}

.reportFormField
{
    float: left;
    width: 200px;
    padding: 10px;
}

.reportFormField label
{
    font-weight: bold;
    display: block;
}

.reportFormField input, .reportFormField select
{
    display: block;
}

.displayFieldWrapper
{
    width:98%;
    padding: 10px;
    float:left;
    font-size: 1.2em;
    border: 1px solid #efefee;    
}

.displayFieldWrapper label
{
    font-weight: bold;
}

.enquiry_view_field 
{
    float:left;
    padding: 0 5px 15px 0;
}

.enquiry_view_field label
{
    display: block;
    font-weight: bold;
}

/* TABLE
----------------------------------------------------------*/

.mceEditor > table {
    width: 100% !important;
}

.mceIframeContainer 
{
    background: #fff !important;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.float {
    float:left;
}

.error {
    color: Red;
}

.loader img {
    display: block;
    position: relative;
    z-index: 9999;
    width: 128px;
    margin: 0 auto;
}

#menucontainer {
    
}

#menucontainer_content
{
    background: url('/Content/images/section-main.jpg') transparent;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation_links
{
    float: right;
    margin-bottom: 10px;
}

div#title {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

div.section_title {
    width: 700px;
    margin: 0 auto;
}

div#title a
{
    display: block;
    height: 100%;
    width: 220px;
    margin: 0 auto;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    height: 15px;
    padding: 10px;
}

#logindisplay a:link {
    text-decoration: underline;
}

#logindisplay a:visited {
    text-decoration: underline;
}

#logindisplay a:hover {
    color: #3E83C9;
    text-decoration: none;
}

.logoff
{
    float:right;
    color: #696969;
    margin: 5px 0 5px 20px;
}

.logoff strong
{
    color: #D0605C;
}

.logoff a
{
    display: inline-block;
    padding: 3px 5px;
    background: #D0605C;
    text-decoration:none;
    color: whiteSmoke;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
}

.logoff a:hover
{
    background: #70C4CB;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-errors li {
    list-style: none;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* Styles for inline editing
----------------------------------------------------------*/

.edit { 
display: none; 
} 

.editing .edit { 
display: block; 
} 

.editing .view { 
display: none; 
}​

/* Pager
----------------------------------------------------------*/

.pager
{
margin: 8px 3px;
padding: 3px;
float: right;
clear: right;
}

.pager .disabled
{
border: 1px solid #ddd;
color: #999;
margin-top: 4px;
padding: 3px;
text-align: center;
}

.pager .current
{
background-color: #1E86C3;
border: 1px solid #6e99aa;
color: #fff;
font-weight: bold;
margin-top: 4px;
padding: 3px 5px;
text-align: center;
}

.pager span, .pager a
{
margin: 4px 3px;
}

.pager a
{
border: 1px solid #aaa;
padding: 3px 5px;
text-align: center;
text-decoration: none;
}

/* HOME PAGE
----------------------------------------------------------*/
.home_table_wrapper
{
    padding-bottom: 30px;
}

/* Drop down menu
----------------------------------------------------------*/
/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; z-index:3000; }
ul.dropdown li a                    { display: block; width: 150px;text-align: center; }
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative; }

/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 100%; visibility: hidden; position: absolute; top: 100%; left: 0; }						  
ul.dropdown ul li a					{ border-right: none; -webkit-border-top-left-radius: 0 !important;-moz-border-radius-topleft: 0 !important;border-top-left-radius: 0 !important;
                   					  -webkit-border-top-right-radius: 0 !important;-moz-border-radius-topright: 0 !important;border-top-right-radius: 0 !important; }

.sub_menu li.last a                  { -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px; }

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

/* WorkILike
----------------------------------------------------------*/

.WorkILikeEntry 
{
    width: 400px;
    float:left;
    padding: 10px;
    margin: 3px;
    border: 4px solid #e66;
    height: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.workilike_sidebarlink
{
    display:inline-block;
    border: 2px solid #c66;
    margin:5px;
    padding:10px;
    width:180px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
}


#advertisingcreative {
    width: 100%;
    margin: 0 auto;
}

#advertisingcreative .section_title p {
    color: #555;
    font-size: 5em;
    text-align: center;
}


.ac_object_list
{
    margin: 0 -170px 0 -70px;
    padding: 0 170px 0 70px;
    background: url('images/paper-tear.png') transparent no-repeat;
    height: 680px;
    width: 735px;
    clear: both;
}

#advertisingcreative h4 {
    color: #555;
    font-size: 3.5em;
    text-transform: uppercase;
}

#advertisingcreative ul {
    list-style: none;
    margin:0;
}

.ac_object_list ul{
    list-style: none;
    position: relative;
    top: 135px;
    left: 60px;
    margin-left: 25px;
}

.ac_object_list li{
    margin-left: 15px;
    float: left;
}

.ac_object_list li:first-child{
    margin-top: 20px;
}

.ac_object_list li:last-child{
    margin-top: 35px;
}

.ac_object_list li img:hover{
    zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.ac_category.BBH_Shanghai 
{
    margin-top: -40px;
}

.ac_category.Proactive_Work 
{
    margin-top: -40px;
}

.ac_category.BBH_Shanghai img.category_img {
    position: relative;
    top: 100px;
    float: right;
}

.ac_category.Proactive_Work img.category_img {
    position: relative;
    top: 100px;
    float: left;
}

.ac_category {
    float: left;
}

.ac_object_small 
{
    width: 350px;
    text-align: center;
}

.ac_object_small h4
{
    width: 250px;
    margin: 0 auto;
}

.ac_category.TBWA_London 
{
    margin-right: 10px;
}

.ac_category.TBWA_London, .ac_category.Momentum_Manchester
{
    margin-top: -200px;
}

#admin_content 
{
    background: #dedcc3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px 20px 20px 20px;
    margin: 10px;
}