@using MvcContrib.UI.Grid
@using MvcContrib.UI.Html
@model List<AdvertisingCreativeCategory>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "All Advertising Creative Categories";
}
<div class="navigation_links">
        @Html.ActionLink("New Category", "Create", null, new { @class = "btn btn-info btn-small" })
        @Html.ActionLink("Admin Area", "Index", "Admin", null, new { @class = "btn btn-info btn-small" })
</div>

<div class="data_table">
    @Html.Partial("_DataTable",Model,new ViewDataDictionary { { "id", "accategories" } })
</div>
