@if(Request.IsAuthenticated) {
    <div class="logoff">
    Logged in as <strong>@User.Identity.Name</strong>
    @Html.ActionLink("Admin Menu", "Index", "Admin")
    @Html.ActionLink("Log Off", "LogOff", "Account")
    </div>
}