@model List<WorkILike>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Other Work";
}
<div id="workilike">
    @Html.Partial("~/Views/WorkILike/_WorkILike.cshtml", Model)
</div>