@using MvcContrib.UI.Grid
@using MvcContrib.UI.Html
@model List<WorkILike>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "All Work I Like Articles";
}
<div class="navigation_links">
        @Html.ActionLink("New Article", "Create", null, new { @class = "btn btn-info btn-small" })
        @Html.ActionLink("Admin Area", "Index", "Admin", null, new { @class = "btn btn-info btn-small" })
</div>

<div class="data_table">
    @Html.Partial("_DataTable",Model,new ViewDataDictionary { { "id", "wilobjects" } })
</div>
